# ================================
# Banco de Dados
# ================================
DB_DATABASE=app_db
DB_USERNAME=app_user
DB_PASSWORD=secret
DB_ROOT_PASSWORD=rootsecret
DB_HOST=mysql
DB_PORT=3306

# ================================
# Aplicação
# ================================
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost

# ================================
# JWT
# ================================
JWT_SECRET=SECRET_INSEGURO_TROCAR
JWT_ISSUER=tech-challenge-api
JWT_TTL=3600

# ================================
# JWT - Ordem Serviço
# ================================
OS_EMAIL_ACTION_TOKEN_SECRET=SECRET_EMAIL_INSEGURO_TROCAR
OS_EMAIL_ACTION_TOKEN_TTL=3600
OS_EMAIL_ACTION_TOKEN_ISSUER=tech-challenge-api-email


# ================================
# Email - Criar conta no MailTrap -> Criar Sandbox -> Obter as credenciais
# ================================
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=test@example.com
MAIL_PASSWORD=fake_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@tech-challenge.com
MAIL_FROM_NAME=Tech Challenge
