.env
vendor/
coverage/
.env.swp
.php-cs-fixer.cache
.phpunit.result.cache
.kube/
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.tfstate.lock.info
infra/backend.tf
infra/env/backend-aws.hcl
infra/env/backend-ministack.hcl
crash.log
