<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="src/bootstrap.php">
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">src</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<exclude>
			<directory suffix="Test.php">src</directory>
		</exclude>
	</source>

	<coverage>
		<report>
			<html outputDirectory="coverage/" />
			<text outputFile="php://stdout" showOnlySummary="true" />
		</report>
	</coverage>

	<php>
		<env name="APP_ENV" value="testing" />
	</php>
</phpunit>
